    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Open+Sans:wght@300&display=swap');
    * {
        font-family: 'Lato', sans-serif;
        font-family: 'Open Sans', sans-serif;
    }
    
    body {
        background: hsla(259, 84%, 78%, 1);
        padding: 10px;
        background: linear-gradient(90deg, hsla(259, 84%, 78%, 1) 0%, hsla(206, 67%, 75%, 1) 100%);
    }
    
    .container {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 10px;
        border-radius: 5px;
    }